* Reset de estilos para eliminar márgenes y paddings por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    font-family: Arial, sans-serif;
    background-color: #ffd0a9;
    color:#ffd0a9 ;
}

header {
    background-color:  #fcbe8c;
    color: #945019;
    padding: 5px 0;
    border-color: #333;
    /*border-bottom: 2px solid #333 ;
    border-top: 2px solid #333 ;
    border-right: 2px solid #333 ;
    border-left: 2px solid #333 ;*/
    border-bottom-right-radius: 30px #333 ;
    border-top-left-radius: 30px #333;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
    position: sticky;
   top: 0px;
    z-index: 9999;
}

header h1 {
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

nav ul {
    list-style: none;
    text-align: center;
   
   
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}

nav a {
    text-decoration: none;
    color: #945019;
    font-family: 'Quicksand', sans-serif;
}

.landing {
    text-align: center;
    padding: 100px 0;
    color: #945019;
    font-family: 'Quicksand', sans-serif;
}

.landing h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #945019;
    font-family: 'Quicksand', sans-serif;
}
.landing p {
    font-size: 25px;
    margin-bottom: 20px;
    color: #945019;
    font-family: 'Quicksand', sans-serif;
}


/*#botonesop1 {

    margin-top: 1%;


}*/


#submitBtn{

    display: inline-block;
    padding: 10px 20px;
    background-color: #945019;;
    color: #fcbe8c;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
}

footer {
    text-align: center;
    background-color: #fcbe8c;
    color: #945019;
    padding: 10px 0;
    position: bottom;
    bottom: 0;
    width: 100%;
   
}
.imagenes{
   
    border-radius: 2em;
    object-fit: cover;
    width: 100%;
    height: 65%;
    margin-bottom: 11%;
}
.texto{
color: #945019;
font-family: 'Quicksand', sans-serif;

}

.mi_nav_link
{
    color: #945019 !important;
}
#Resultado-perruno{
    color: #945019;
    font-family: 'Quicksand', sans-serif;
    display: grid;
    place-items: center;
    font-size: 85px;
}
.Imgs-perros{
    width: 30%;
    margin-left: 35%;
    display: flex;
}
.Botones_Resultado{
    width:15%;
    height:40px;
    margin-top: 30px;
}
.Letras_botones_mas_informacion{
    font-size: 100%;
}
.titulinho{
    display: inline;
}
.luciano
{
    background-color: #945019;
    border-radius: 1ex;
}
.luciano a{
    color: #fcbe8c !important;

}
.preguntas{
    margin-top: 40px;
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
}
    
.botonessize{
    display: inline;

}
.Botones{
/*margin-left: 9.2%;*/
}

.btn-outline-success{
    display: inline-block;
    padding: 10px 20px;
    background-color: #945019;;
    color: #fcbe8c;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    border: 2ex #945019;
}

.btn-outline-success:hover{

    background-color: #945100;
    color: #fcbe8c;
    


}
.Redes_sociales{
    display: flex;
    justify-content: center;
}
.Redes{
    width: 2.5%;
    height: 2.5%;
    border-radius: 20px;
    margin-left: 6px;
}

